In [167]:
import pandas as pd
import os
import csv
import locale

In [168]:
mainpath = "C:/Users/ICM/Python"
filename = "Analisis-/Data11.csv"
fullpath = os.path.join(mainpath,filename)

In [169]:
data = pd.read_csv(fullpath)
data.head()

   Tiempo  Extension    Carga
0     0.0    0.00000 -0.00288
1     0.1    0.00229 -0.00118
2     0.2    0.00937  0.00647
3     0.3    0.01937  0.01917
4     0.4    0.02937  0.03354

In [170]:

data = open(fullpath, "r")

In [171]:
cols = data.readline().strip().split(",")
n_cols = len(cols)

In [172]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [173]:
for line in data:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1
print (" El data set %d filas y %d columnas" %(counter, n_cols))

 El data set 36165 filas y 3 columnas

In [174]:
df= pd.DataFrame(main_dict)
df.head()

  ï»¿Tiempo Extension     Carga
0   0.00000   0.00000  -0.00288
1   0.10000   0.00229  -0.00118
2   0.20000   0.00937   0.00647
3   0.30000   0.01937   0.01917
4   0.40000   0.02937   0.03354

## Lectura y Escritura

In [175]:
infile = fullpath
outfile = mainpath + "/" + "Analisis-/Datanew.csv"

In [177]:
with open(infile, "r") as infile1:
    with open (outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [181]:
data = pd.read_csv(outfile, sep ="\t")
data.head()

   Tiempo  Extension    Carga
0     0.0    0.00000 -0.00288
1     0.1    0.00229 -0.00118
2     0.2    0.00937  0.00647
3     0.3    0.01937  0.01917
4     0.4    0.02937  0.03354

In [185]:
data.tail(8)

         Tiempo  Extension     Carga
36157  3615.700  301.30807  42.58381
36158  3615.800  301.31641  42.57811
36159  3615.900  301.32516  42.57250
36160  3616.000  301.33389  42.56761
36161  3616.100  301.34183  42.56017
36162  3616.200  301.34976  42.55069
36163  3616.300  301.35828  42.54178
36164  3616.398  301.37143  24.07120

In [184]:
data.shape

(36165, 3)

In [187]:
data.columns.values

array(['Tiempo', 'Extension', 'Carga'], dtype=object)

### Vamos a hacer un resumen de los estadistico básicos de las variables numéricas

In [188]:
data.describe()

             Tiempo     Extension         Carga
count  36165.000000  36165.000000  36165.000000
mean    1808.200000    150.683407     19.865910
std     1044.008058     87.000656     12.323589
min        0.000000      0.000000     -0.002880
25%      904.100000     75.342070      8.648520
50%     1808.200000    150.683110     18.569180
75%     2712.300000    226.024960     30.344250
max     3616.398000    301.371430     42.790330

In [189]:
data.dtypes

Tiempo       float64
Extension    float64
Carga        float64
dtype: object

# Missing values

In [190]:
pd.isnull(data["Tiempo"])

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
36135    False
36136    False
36137    False
36138    False
36139    False
36140    False
36141    False
36142    False
36143    False
36144    False
36145    False
36146    False
36147    False
36148    False
36149    False
36150    False
36151    False
36152    False
36153    False
36154    False
36155    False
36156    False
36157    False
36158    False
36159    False
36160    False
36161    False
36162    False
36163    False
36164    False
Name: Tiempo, Length: 36165, dtype: bool

In [191]:
pd.isnull(data["Extension"])

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
36135    False
36136    False
36137    False
36138    False
36139    False
36140    False
36141    False
36142    False
36143    False
36144    False
36145    False
36146    False
36147    False
36148    False
36149    False
36150    False
36151    False
36152    False
36153    False
36154    False
36155    False
36156    False
36157    False
36158    False
36159    False
36160    False
36161    False
36162    False
36163    False
36164    False
Name: Extension, Length: 36165, dtype: bool