In [9]:
import pandas as pd
import os
import csv

In [10]:
mainpath = "C:/Users/marce/Python"
filename = "Analisis/Data1.csv"
fullpath = os.path.join(mainpath,filename)

In [11]:
data = pd.read_csv(fullpath)
data.head()

    Tiempo Extensi贸n     Carga
0      (s)      (mm)     (kgf)
1  0.00000   0.00000  -0.00288
2  0.10000   0.00229  -0.00118
3  0.20000   0.00937   0.00647
4  0.30000   0.01937   0.01917

In [12]:
data2 = pd.read_csv(mainpath + "/" + "Analisis/Data2.csv")
data2.head()

   Tiempo  Extensi贸n    Carga
0     0.0    0.00000 -0.00464
1     0.1    0.00187 -0.00367
2     0.2    0.00896  0.00317
3     0.3    0.01917  0.01499
4     0.4    0.02937  0.02670