In [14]:
import pandas as pd
import os
import csv
import glob

In [10]:
mainpath = "C:/Users/marce/Python"
filename = "Analisis/Data1.csv"
fullpath = os.path.join(mainpath,filename)

In [18]:
data1 = pd.read_csv(fullpath)
data1.head()

    Tiempo Extensión     Carga
0      (s)      (mm)     (kgf)
1  0.00000   0.00000  -0.00288
2  0.10000   0.00229  -0.00118
3  0.20000   0.00937   0.00647
4  0.30000   0.01937   0.01917

In [12]:
data2 = pd.read_csv(mainpath + "/" + "Analisis/Data2.csv")
data2.head()

   Tiempo  Extensión    Carga
0     0.0    0.00000 -0.00464
1     0.1    0.00187 -0.00367
2     0.2    0.00896  0.00317
3     0.3    0.01917  0.01499
4     0.4    0.02937  0.02670

In [30]:
data.describe()

            Tiempo  Extensión     Carga
count        36166      36166     36166
unique       36166      36166     36086
top     2894.20000  205.45853  23.16444
freq             1          1         2

In [32]:
data.columns.values

array(['Tiempo', 'Extensión', 'Carga'], dtype=object)

In [33]:
data1.columns.values

array(['Tiempo', 'Extensión', 'Carga'], dtype=object)

In [34]:
copy *.csv nombre_destino.csv

Data.csv
Data1.csv
Data2.csv
Data3.csv
Data4.csv
Data5.csv
Data6.csv
Libro1.csv
prueba.csv
        1 archivo(s) copiado(s).

In [37]:
copy Data1.csv, Data2.csv x1.csv

La sintaxis del comando no es correcta.